.list-item {
  margin-top: 8px;
  width: 20%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.item-text {
  flex-grow: 1;
  margin-left: 10px;
}

.delete-button {
  background-color: #ff6961;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px 10px 5px;
}
