body {
  margin-left: 10px;
}

.add-item-form {
  margin-top: 16px;
}

.error {
  border: 1px solid #ff6961;
}

.error-message {
  color: #ff6961;
  margin-top: 8px;
}
button {
  background-color: #80c550;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 8px;
}

input {
  margin-top: 8px;
  width: 10%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
